@import "animate.min.css";
@import "cssanimation.min.css";
@import "vivify.min.css";

:root {
	--name: bounce;
	--start-after: 2s;
	--speed: 1s;
	--count: infinite;
}


.uanimation-woo {
  animation-name: var(--name);
  animation-delay: var(--start-after);
  animation-duration: var(--speed);
  animation-iteration-count: var(--count);
}